<?xml version="1.0" encoding="UTF-8"?>

<beans 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context.xsd"

 xmlns:context="http://www.springframework.org/schema/context" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns="http://www.springframework.org/schema/beans">


<bean id="myPerformance" class="com.test.springdemo.DailyPerService"> </bean>

<bean id="myCoach" class="com.test.springdemo.CricketCoach" >
	
 		<constructor-arg ref="myPerformance" />
</bean>

<bean id="myCricketCoach" class="com.test.springdemo.CricketCoach">

<!-- set up setter injection-->

<property name="PerAss" ref="myPerformance" />

</bean>

</beans>